.header {
  //position: relative;
  //height: 700px;
  background: var(--peculiarity-color);
}
.header-main {
  position: relative;
}
.header-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 43px;
}
.header-logo {
  display: flex;
  flex-direction: row;

  padding-top: 37.6px;
}
.header-logo__text {
  justify-content: center;
  padding-top: 11.96px;
}
.logo-first {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: var(--title-color);
}
.logo-second {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: var(--user-color);
}
.header-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-top: 51px;
}
.header-list__item {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;

  letter-spacing: 0.14em;
  color: var(--title-color);
}
.header-list__item:not(:last-child) {
  margin-right: 40px;
}
.header-button {
  //position: absolute;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;

  letter-spacing: 0.14em;
  color: var(--additional-color);

  width: 130px;
  height: 40px;
  margin-top: 37px;

  background: var(--accent-color);
  border-radius: 5px;
}
.header-button:hover {
  cursor: pointer;
  background: none;
  box-shadow: 0 0 10px 0 var(--accent-color) inset,
    0 0 10px 4px var(--accent-color);
}
.header-title {
  //display: ;
  width: 497px;
  margin-top: 170px;
  //margin-left: 10px;
  margin-bottom: 12px;
}
.header-title__main {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 126%;

  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--title-color);
}
.header-title__accent {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 126%;

  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--accent-color);
}
.header-text {
  margin-bottom: 24px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 138.5%;

  letter-spacing: 0.08em;
  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--text-color);

  width: 375px;
}
.header-button__bottom {
  //margin-bottom: 148px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;

  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: var(--additional-color);

  width: 144px;
  height: 40px;
  background: var(--user-color);
  border-radius: 5px;
}
.header-hero {
  position: relative;
  display: flex;
  margin-bottom: 148px;
}
.header-img {
  width: 547px;
  height: 394.42px;
  margin-right: 0;
  position: absolute;
  z-index: 2;
  left: 42.95%;
  //right: 4.56%;
  top: 16.46%;
  //bottom: 80.45%;
}
.header-img__main {
  width: 547px;
  height: 394.42px;
}
.header-video {
  display: flex;
  flex-direction: row;
}
.header-icon {
  margin-right: 12px;
}
.header-video__text {
  padding-top: 5px;
  margin-bottom: 54px;
}
.header-video__title {
  margin: 0;
  padding-bottom: 5px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 126%;

  letter-spacing: 0.08em;
  font-feature-settings: "pnum" on, "lnum" on;

  color: #b0b0b0;
}
.header-video__play {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 126%;

  letter-spacing: 0.165em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--title-color);
}
.header-bgd {
  position: absolute;
  width: 295.29px;
  height: 700px;
  right: 51px;
  top: 0px;

  background: var(--user-color);
  border-radius: 30px 0px 0px 30px;
}
