.benefits {
}
.benefits-container {
}
.benefits-title {
  margin-top: 79.59px;
  margin-bottom: 14px;
  text-align: center;
  @include mobile {
    margin-left: auto;
    margin-right: auto;
    max-width: 460px;
  }
}
.benefits-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 138.5%;

  text-align: center;
  letter-spacing: 0.08em;
  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--text-color);
  width: 600.9px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 46.17px;
  margin-top: 0;
  padding-bottom: 20px;
  @include mobile {
    max-width: 460px;
  }
}
.benefits-list {
  //position: relative;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0;

  @include mobile {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.benefits-list__item {
  width: 278.17px;
  height: 276.52px;

  background: var(--list-color);
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  @include mobile {
    margin-bottom: 20px;
  }
}
.benefits-list__item:hover,
.benefits-list__item:focus {
  cursor: pointer;
  transform: scale(1.1);
  transition: var(--animation);
}
.benefits-list__item--first {
  padding: 36.65px 17.82px;
  text-align: center;
}
.benefits-list__item--second {
  padding: 36.88px 25.45px;
  text-align: center;
}
.benefits-list__item--third {
  padding: 40.21px 25.45px;
  text-align: center;
}
.benefits-list__item--title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 138.5%;

  text-align: center;
  letter-spacing: 0.08em;
  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--title-color);
}
.benefits-list__item--text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 138.5%;

  text-align: center;
  letter-spacing: 0.08em;
  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--text-color);
}
.benefits-list__item--icon {
  //margin-top: 36.65px;
  //margin-left: 88.63px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;
}
.benefits-bgd__first {
  position: absolute;
  z-index: -1;
  width: 65.75px;
  height: 65.75px;
  left: 11.47px;
  top: 247px;

  background: var(--user-color);
  border-radius: 16px;
  transform: rotate(-30deg);
  @include mobile {
    top: -2px;
    left: 329.47px;
  }
}
.benefits-bgd__second {
  position: absolute;
  z-index: -1;
  width: 96.96px;
  height: 96.96px;
  left: 268.31px;
  top: 39.08px;

  background: var(--user-color);
  border-radius: 30px;
  transform: rotate(105deg);
  @include mobile {
    top: 222px;
    left: 632.47px;
  }
}
.benefits-bgd__third {
  position: absolute;
  z-index: -1;
  width: 127.47px;
  height: 127.47px;
  left: 616.24px;
  top: 176.75px;

  background: var(--user-color);
  border-radius: 30px;
  transform: rotate(-30deg);
  @include mobile {
    left: 289.24px;
    top: 511.75px;
  }
}
.benefits-bgd__fourth {
  position: absolute;
  z-index: -1;
  width: 65.75px;
  height: 65.75px;
  left: 965.93px;
  top: -36.54px;

  background: var(--user-color);
  border-radius: 16px;
  transform: rotate(-30deg);
  @include mobile {
    left: 642.24px;
    top: 823.75px;
  }
}
.benefits-card {
  position: relative;
  //margin-bottom: 74.83px;
  padding-bottom: 74.83px;
}
