.experts {
  background: var(--peculiarity-color);
  background-size: 100%;
  padding: 40px 0;
}
.experts-bgd {
  position: relative;
  padding-top: 43px;
}
.experts-figure__first {
  position: absolute;
  width: 65.75px;
  height: 65.75px;
  left: 176px;
  top: 114.93px;

  background: var(--user-color);
  border-radius: 16px;
  transform: rotate(-30deg);
  @include mini {
    left: 38px;
    top: 132.93px;
  }
  @include mobile {
    left: 38px;
    top: 132.93px;
  }
}
.experts-figure__second {
  position: absolute;
  width: 96.96px;
  height: 96.96px;
  left: 458.25px;
  top: 0px;

  background: var(--user-color);
  border-radius: 30px;
  transform: rotate(105deg);
  @include mini {
    left: 194.25px;
    top: 50px;
  }
  @include mobile {
    left: 194.25px;
    top: 50px;
  }
}
.experts-figure__third {
  position: absolute;
  width: 127.47px;
  height: 127.47px;
  right: 143.11px;
  top: 40.61px;

  background: var(--user-color);
  border-radius: 30px;
  transform: rotate(-30deg);
  @include mini {
    right: 39.11px;
    top: -31.39px;
  }
  @include mobile {
    right: 39.11px;
    top: -31.39px;
  }
}
.experts-statistics {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 654px;
  height: 117px;

  background: var(--list-color);
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  @include mini {
    width: 530px;
  }
  @include mobile {
    width: 530px;
  }
}
.experts-statistics__list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0;
  margin: 0;
}
.experts-statistics__item {
  list-style: none;
  padding-top: 28px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.14em;
  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--user-color);
}
.experts-statistics__item:hover,
.experts-statistics__item:focus {
  cursor: pointer;
  color: var(--accent-color);
  transition: var(--animation);
  transform: scale(1.1);
}
.experts__item-text {
  margin: 0;
  padding-top: 5px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;

  text-align: center;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--title-color);
}
.experts-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 79.07px;
  padding-bottom: 76px;
  @include mini {
    max-width: 460px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  @include mobile {
    max-width: 460px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
.experts-info__text {
  padding-top: 50px;
  @include mini {
    padding: 40px 0 30px 0;
    //margin-bottom: 30px;
    text-align: center;
    //padding-top: 40px;
  }
  @include mobile {
    padding: 40px 0 30px 0;
    //margin-bottom: 30px;
    text-align: center;
    //padding-top: 40px;
  }
}
.experts-info__text--title {
  margin: 0 0 5px 0;
}
.experts-info__text--about {
  margin: 0 0 24px 0;
  width: 363px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--text-color);
}
.experts-info__img {
  position: relative;
  width: 521.17px;
  height: 284px;
  margin-right: 25px;

  background: var(--list-color);
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  @include mini {
    width: 490px;
    margin-right: 0;
  }
  @include mobile {
    width: 490px;
    margin-right: 0;
  }
}
.experts-info__img:hover,
.experts-info__img:focus {
  transform: scale(1.1);
  transition: var(--animation);
}
.experts-img {
  position: absolute;
  left: 94.41px;
  top: 24.17px;
  margin: auto;
  @include mini {
    left: 78.41px;
  }
  @include mobile {
    left: 78.41px;
  }
}
.experts-svg {
  position: absolute;
  top: 121.61px;
  left: 243.19px;
  @include mini {
    left: 229.19px;
  }
  @include mobile {
    left: 229.19px;
  }
}
