.experts {
  background: var(--peculiarity-color);
}
.experts-container {
  //position: relative;
}
.experts-bgd {
  position: relative;
  padding-top: 103.93px;
}
.experts-figure__first {
  position: absolute;
  width: 65.75px;
  height: 65.75px;
  left: 176px;
  top: 174.93px;

  background: #ec5863;
  border-radius: 16px;
  transform: rotate(-30deg);
}
.experts-figure__second {
  position: absolute;
  width: 96.96px;
  height: 96.96px;
  left: 458.25px;
  top: 67px;

  background: #ec5863;
  border-radius: 30px;
  transform: rotate(105deg);
}
.experts-figure__third {
  position: absolute;
  width: 127.47px;
  height: 127.47px;
  right: 143.11px;
  top: 102.61px;

  background: #ec5863;
  border-radius: 30px;
  transform: rotate(-30deg);
}
.experts-statistics {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: 654px;
  height: 117px;

  background: var(--list-color);
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
}
.experts-statistics__list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0;
  margin: 0;
}
.experts-statistics__item {
  list-style: none;
  padding-top: 28px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.14em;
  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--user-color);
}
.experts-statistics__item:hover,
.experts-statistics__item:focus {
  cursor: pointer;
  color: var(--accent-color);
  transition: var(--animation);
  transform: scale(1.1);
}
.experts__item-text {
  margin: 0;
  padding-top: 5px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;

  text-align: center;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--title-color);
}
.experts-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 79.07px;
  padding-bottom: 116px;
}
.experts-info__text {
  //margin-right: 74.83px;
  padding-top: 50px;
}
.experts-info__text--title {
  margin: 0 0 5px 0;
}
.experts-info__text--about {
  margin: 0 0 24px 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 138.5%;

  letter-spacing: 0.08em;
  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--text-color);
  width: 363px;
}
.experts-info__img {
  position: relative;
  width: 521.17px;
  height: 284px;
  margin-right: 25px;

  background: var(--list-color);
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
}
.experts-img {
  position: absolute;
  left: 94.41px;
  top: 24.17px;
  margin: auto;
}
