// .container {
//   //width: 1152px;
//   width: 100%;
//   padding: 0 51px 0 51px;
//   margin-left: auto;
//   margin-right: auto;
//   // @include tablet {
//   //   width: 635px;
//   //   padding: 0 5px 0 5px;
//   // }

//   // @include mobile {
//   //   min-width: 320px;
//   //   padding: 0 5px 0 5px;
//   // }
// }
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 51px;
  @include mobile {
    max-width: 425px;
    padding: 0 10px 0 10px;
  }

  @include tablet {
    max-width: 768px;
    padding: 0 51px;
  }

  @include desktop {
    max-width: 1152px;
  }
}
