:root {
  --text-color: #616161;
  --title-color: #000000;
  --list-color: #ffffff;
  --accent-color: #4285f4;
  --peculiarity-color: #fafbfd;
  --user-color: #ec5863;
  --animation: 250ms ease-in;
  --time-transition: cubic-bezier(0.4, 0, 0.2, 1);
}
