:root {
  --text-color: #1e2e36;
  --logo-color: #44c697;
  --list-color: #ffffff;
  --accent-color: #ff1b1b;
  --peculiarity-color: ;
  --user-color: ;
  --animation: 250ms ease-in;
  --time-transition: cubic-bezier(0.4, 0, 0.2, 1);
}
